{% extends 'quran/base.html' %}
{% block title %}Add Audio{% endblock %}
{% block qoris_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Qori Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'quran:detail' qori.id %}">
                            {% if qori.gambar %}
                                <img src="{{ qori.gambar.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h1>{{ qori.juz }} <small>{{ qori.jenis }}</small></h1>
                    <h2>{{ qori.nama_qori }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Murotal Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'quran:detail' qori.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'quran:create_audio' qori.id %}">Add New</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="page-title">Add Audio</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="qori" value="{{ qori }}">
                        {% include 'quran/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}